<!DOCTYPE html>
<html lang="en">
<head>
  <title>About us </title>
</head>

<div class="text-center pt-24 font-medium text-6xl ">
  About Us 
</div>

<div class="p-24 flex flex-col justify-between space-x-6 lg:flex-row ">

  <div class=" pt-5 text-lg font-light ">
    Stickynotes is a note organizing Platform developed by four students from CSUF. We're dedicated to providing you the best expirience 
    with a focus on a simplistic style. Our software team is working with the css framework tailwind and framework remake to create 
    a straightfoward and practical online website. 
  </div>

  <div class="flex-shrink-0 pt-6">
    <img src="/assets/images/teamwork.png" class="" alt="">
  </div>

</div>

<div class =" text-center pt-7 font-medium text-3xl bg-red-400" >
  Meet The Team
</div>

{{!-- Team members --}}
<div class =" flex flex-row justify-around pt-16 pb-16 font-medium text-2xl bg-red-400">
  <div class="flex flex-col space-y-24 ">

    {{!-- column 1 --}}
    <div class="about-box">
      <img class = "w-14 h-14" src="/assets/images/person.png" alt="">
        <h1>
         <span class="text-lg"> Aidan Sunahara </span><br>
           <a class = "text-blue-500 text-md font-normal" href="https://github.com/AidanSS/Project-2/tree/Aidan"> 
             Github-Link
           </a>
       </h1>
    </div>
    <div class="about-box">
      <img class = "w-14 h-14" src="/assets/images/person.png" alt="">
        <h1>
         <span class="text-lg"> Jahnvi Panchal </span><br>
           <a class = "text-blue-500 text-md font-normal" href="https://github.com/AidanSS/Project-2/tree/Jahnvi">
              Github-Link
           </a>
       </h1>
    </div>
  </div>
  
  {{!-- column 2 --}}
  <div class="flex flex-col space-y-24">
    <div class="about-box">
      <img class = "w-14 h-14" src="/assets/images/person.png" alt="">
        <h1>
         <span class="text-lg"> Quan Duong </span><br>
           <a class = "text-blue-500 text-md font-normal" href="https://github.com/AidanSS/Project-2/tree/Quan">
            
             Github-Link
            
            </a>
       </h1>
    </div>
    <div class="about-box">
      <img class = "w-14 h-14" src="/assets/images/person.png" alt="">
        <h1>
         <span class="text-lg"> Roman Barron </span><br>
           <a class = "text-blue-500 text-md font-normal" href="https://github.com/AidanSS/Project-2/tree/Roman">
             Github-Link
            </a>
       </h1>
    </div>
  </div>

  
</div>
</html>
