<div class="flex flex-row object-cover max-h-screen max-w-screen">
    <img src="/assets/images/background.jpg" alt="background">
</div>
<div class="grid grid-rows-3 grid-flow-col gap-4 ">
  <div class="col-span-2 ...">02</div>
  <div class="row-span-2 col-span-2 ...">03</div>
</div>