<span class="decoration-clone bg-gradient-to-b from-yellow-400 to-red-500 text-transparent ...">
  Hello<br>
  World
</span>
<div>[[ Dynamic Remake code goes here]]</div>
<br><br>
<a href="https://docs.remaketheweb.com/a-simple-example-app/">Try a simple todo app</a>