
<ul>
  {{#if currentUser}}
    <li><a href="/{{currentUser.details.username}}">Go to your dashboard</a></li>
  {{else}}
  <div class="flex flex-row justify-center space-x-5 p-5">
    <div class="flex flex-col items-start space-y-10 py-12 ">

      {{!-- TITLE --}}

      <h1 class = "max-w-lg text-6xl font-bold">
        Notes Hero
      </h1>

      {{!-- HOOK --}}

      <h2 class="max-w-lg text-4xl font-bold">
        Organize Your Tasks Quick and Fast!
      </h2>

      {{!-- Description --}}

      <p class="">
        create, modify, and catagorize your tasks with our application.
      </p>

        {{!-- Signup and Login Option --}}
        
        <div class="flex justify-around space-x-10">
          <a href="/user/signup" class="px-3 py-1 rounded transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-blue-400 duration-150"> 
            signup 
          </a>

          <a href="/user/login" class="px-3 py-1 rounded transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-blue-400 duration-150"> 
            login 
          </a>
        </div>
      
    </div>

    {{!-- 2nd Column Image --}}
    <div class="">
      <img src="assets/images/notes.png" alt="">
    </div>
</div>
  {{/if}}
</ul>