<form action="/user/signup" method="post">
  <div class="flex justify-center items-center bg-grey-lighter min-h-screen">
          <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
              <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
                  <h1 class="mb-8 text-3xl text-center bold font-bold">Sign up for free!*</h1>
                  <input
                      type="text"
                      class="block border border-grey-light w-full p-3 rounded mb-4 shadow-md"
                      name="username"
                      placeholder="Username" required/>

                  <input
                      type="text"
                      class="block border border-grey-light w-full p-3 rounded mb-4 shadow-md"
                      name="email"
                      placeholder="Email" required/>

                  <input
                      type="password"
                      class="block border border-grey-light w-full p-3 rounded mb-4 shadow-md"
                      name="password"
                      placeholder="Password" required/>

                  <button
                      type="submit"
                      class="w-full text-center py-3 rounded bg-blue-500 text-white hover:scale-110 hover:bg-blue-400 duration-150">
                      Create Account
                    </button>

                  <div class = "mt-6">Already have an account?
                  <a href="./login/" class="right-full text-right group text-black-500 transition duration-300 ">
                   Log in
                    <span class="underline-transition"></span>
                  </a>
                  </div>
              </div>

          </div>
      </div>
      <div class ="mt-6 text-xs">*Free after mandatory donation of 1 million dollars. No guarantee we wont run off with the money.</div>
</form>
