<form action="/user/signup" method="post">
  <div class="flex min-h-screen">
          <div class=" max-w-md mx-auto flex-1 flex flex-col items-center justify-center px-11">
              <div class="text-center bg-white px-6 py-8 rounded shadow-md w-full">
                  <h1 class="mb-8 text-3xl text-center bold font-bold">Sign up for free!*</h1>
                  <input
                      type="text"
                      class="signup-primary"
                      name="username"
                      placeholder="Username" required/>
                  <input
                      type="text"
                      class="signup-primary"
                      name="email"
                      placeholder="Email" required/>
                  <input
                      type="password"
                      class="signup-primary"
                      name="password"
                      placeholder="Password" required/>
                  <button
                      type="submit"
                      class="w-full py-3 rounded bg-blue-500 text-white hover:scale-110 hover:bg-blue-400 duration-150">
                      Create Account
                    </button>
                    <div class = "mt-6 text-xs">Already have an account?
                  <a href="./login/" class="group duration-150 ">
                   Log in
                    <span class="underline-transition"></span>
                  </a>
                  </div>
              </div>
          </div>
      </div>
      <div class ="mt-6 text-xs">*Free after mandatory donation of 1 million dollars. No guarantee we wont run off with the money.</div>
</form>
