<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your App</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/_remake.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>
<body>
  {{#if currentUser}}
    <a href="/user/logout">Logout</a>
  {{else}}
  <header class="bg-blue-500 p-1">
    <nav class="flex flex-row justify-between">
      
     
      <img class = "h-11 w-11 justify-start" src="assets/images/logo.png" alt="">
      
      
      <div class="flex space-x-6 p-2 font-medium">

        <a href="/index" class="group text-black-500 transition duration-300">
            Home
          <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-black"></span>
        </a>
        
        <a href="/user/signup" class="group text-black-500 transition duration-300">
            Signup
          <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-black"></span>
        </a>

        <a href="/user/login" class="group text-black-500 transition duration-300">
            Login
          <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-black"></span>
        </a>

        <a href="/about" class="group text-black-500 transition duration-300">
            About Us
          <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-black"></span>
        </a>
      </div>
     
    </nav>
  </header>
  {{/if}}
  {{!-- Show errors --}}
  {{#if flashErrors }}
    {{#each flashErrors }}
      <div>{{ this }}</div>
    {{/each}}
  {{/if}}
  {{!-- Show success messages --}}
  {{#if flashSuccesses }}
    {{#each flashSuccesses }}
      <div>{{ this }}</div>
    {{/each}}
  {{/if}}
  {{> yield }}
  {{#if isPageAuthor}}
    {{!-- Prevent loading the Remake framework if the page isn't editable --}}
    <script src="/assets/js/vendor/Sortable.min.js"></script>
    <script src="/assets/js/vendor/crostini.min.js"></script>
    <script src="/remake/js/remake.min.js"></script>
    <script src="/assets/js/remake-init.js"></script>
  {{/if}}
  <script src="/assets/js/main.js"></script>
</body>
</html>